<% layout("/layouts/boilerplate") %>

  
        <div class="row mt-3">
            <div class="col-8 offset-2">

                <h2>Create New listing</h2><br>
                <form action="/listings" method="post" class="needs-validation" novalidate enctype="multipart/form-data"> 
                    <div class="mb-3"> <!--mb == margin-bottom-->
                        <label for="title" class="form-label">Title: </label>
                        <input type="text" name="listing[title]" placeholder="Add a catchy title" class="form-control" required>
                        <div class="valid-feedback"><b>Title Looks Good</b></div>
                        <div class="invalid-feedback"><b>Please Enter Valid Title</b></div>
                    </div>
                    <!--class="form-control"  this give 100% width to input-->
                    <div class="mb-3">
                        <label for="description" class="form-label">Discription: </label>
                        <textarea type="text" name="listing[description]" placeholder="Enter description"
                            class="form-control" required></textarea>
                            <div class="valid-feedback"><b>Nice Discription</b></div>
                        <div class="invalid-feedback"><b>Please Enter Valid Discription</b></div>
                    </div>

                    <div class="mb-3">
                        <label for="Image" class="form-label">upload listing Image: </label>
                        <input type="file" name="listing[image]"
                            class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="Price" class="form-label">Price: </label>
                        <input  name="listing[price]" placeholder="1200" class="form-control" required>
                        <div class="valid-feedback"><b>Good price</b></div>
                        <div class="invalid-feedback"><b>Please Enter Valid Price</b></div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="location" class="form-label">Location: </label>
                            <input type="text" name="listing[location]" placeholder="Pali,Rajasthan"
                                class="form-control" required>
                            <div class="valid-feedback"><b>Nice Location</b></div>
                        <div class="invalid-feedback"><b>Please Enter Valid Location</b></div>
                        </div>

                        <div class="mb-3 col-md-6">
                            <label for="country" class="form-label">Country: </label>
                            <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
                            <div class="valid-feedback"><b>I'ts Very Beautiful Country</b></div>
                        <div class="invalid-feedback"><b>Please Enter Valid Country</b></div>
                        </div>
                    </div>

                    <button class="btn btn-dark add-btn">Add</button>
                    <br><br><br>
                </form>
            </div>
        </div>
        <br><br>
    